<!-- Heading Component -->
<div class="c-heading t-red">
    <div class="c-heading__block">
        <div class="c-heading__block__header">
            <h2>Build Test Here</h2>
        </div>
    </div>
</div>

<!-- DO NOT BUILD HERE. Copy the below component into test.html -->

<!-- Tabs Component -->
<div class="c-tabView">
    <nav class="c-tabView__tabs t-black">
        <ul role="tablist">
            <li>Tab 1</li>
            <li>Tab 2</li>
        </ul>
    </nav>
    <div class="c-tabView__content">
        <div class="c-tabView__content__block u-inner">
            <div class="c-tabView__container">
                <div class="c-tabView__singleCol">
                    <h1>Single Column</h1>
                    <img src="http://placeimg.com/1000/350/tech">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vehicula orci in ultrices
                        elementum.
                        Aliquam eget mi tristique, suscipit tellus in, commodo justo. Sed condimentum dictum ligula in
                        commodo. Nullam sed tortor mattis, volutpat diam ut, placerat erat. Nulla a mauris massa.
                        Vestibulum libero justo, pulvinar in dui quis, venenatis pretium ex. Nullam faucibus sagittis
                        dolor
                        aliquam pellentesque. Vivamus finibus posuere mauris, et elementum metus ornare vel.
                    </p>
                    <p>
                        Donec sit amet rhoncus risus. Quisque efficitur risus vitae condimentum laoreet. Donec mattis,
                        dolor a congue convallis, risus risus consectetur nunc, in tincidunt purus arcu sit amet
                        libero.
                        Mauris iaculis ultrices massa. Morbi tincidunt mauris vel cursus malesuada. In et feugiat
                        lacus,
                        nec blandit ligula. Nunc at lorem et turpis finibus porta sed non massa. Etiam sed luctus
                        risus, a
                        tempor justo. Praesent gravida varius lobortis.
                    </p>

                    <ul>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                        <li>Morbi commodo orci sed sapien tristique rutrum.</li>
                        <li>Vestibulum lobortis quam id est blandit, non tincidunt justo egestas.</li>
                    </ul>

                    <a href="https://www.hyperxgaming.com/us">HyperX Gaming</a>
                </div>
                <div class="c-tabView__dualCol">
                    <div class="dualCol">
                        <h1>Dual Column</h1>
                        <img src="http://placeimg.com/1000/350/tech">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vehicula orci in ultrices
                            elementum.
                            Aliquam eget mi tristique, suscipit tellus in, commodo justo. Sed condimentum dictum ligula
                            in
                            commodo. Nullam sed tortor mattis, volutpat diam ut, placerat erat. Nulla a mauris massa.
                            Vestibulum libero justo, pulvinar in dui quis, venenatis pretium ex. Nullam faucibus
                            sagittis dolor
                            aliquam pellentesque. Vivamus finibus posuere mauris, et elementum metus ornare vel.
                        </p>
                        <p>
                            Donec sit amet rhoncus risus. Quisque efficitur risus vitae condimentum laoreet. Donec
                            mattis,
                            dolor a congue convallis, risus risus consectetur nunc, in tincidunt purus arcu sit amet
                            libero.
                            Mauris iaculis ultrices massa. Morbi tincidunt mauris vel cursus malesuada. In et feugiat
                            lacus,
                            nec blandit ligula. Nunc at lorem et turpis finibus porta sed non massa. Etiam sed luctus
                            risus, a
                            tempor justo. Praesent gravida varius lobortis.
                        </p>

                        <ul>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                            <li>Morbi commodo orci sed sapien tristique rutrum.</li>
                            <li>Vestibulum lobortis quam id est blandit, non tincidunt justo egestas.</li>
                        </ul>

                        <a href="https://www.hyperxgaming.com/us">HyperX Gaming</a>
                    </div>
                    <div class="dualCol">
                        <h1>Dual Column</h1>
                        <img src="http://placeimg.com/1000/350/tech">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vehicula orci in ultrices
                            elementum.
                            Aliquam eget mi tristique, suscipit tellus in, commodo justo. Sed condimentum dictum ligula
                            in
                            commodo. Nullam sed tortor mattis, volutpat diam ut, placerat erat. Nulla a mauris massa.
                            Vestibulum libero justo, pulvinar in dui quis, venenatis pretium ex. Nullam faucibus
                            sagittis dolor
                            aliquam pellentesque. Vivamus finibus posuere mauris, et elementum metus ornare vel.
                        </p>
                        <p>
                            Donec sit amet rhoncus risus. Quisque efficitur risus vitae condimentum laoreet. Donec
                            mattis,
                            dolor a congue convallis, risus risus consectetur nunc, in tincidunt purus arcu sit amet
                            libero.
                            Mauris iaculis ultrices massa. Morbi tincidunt mauris vel cursus malesuada. In et feugiat
                            lacus,
                            nec blandit ligula. Nunc at lorem et turpis finibus porta sed non massa. Etiam sed luctus
                            risus, a
                            tempor justo. Praesent gravida varius lobortis.
                        </p>

                        <ul>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                            <li>Morbi commodo orci sed sapien tristique rutrum.</li>
                            <li>Vestibulum lobortis quam id est blandit, non tincidunt justo egestas.</li>
                        </ul>

                        <a href="https://www.hyperxgaming.com/us">HyperX Gaming</a>
                    </div>
                </div>

                <div class="c-tabView__triCol">
                    <div class="triCol">
                        <h1>Tri Column</h1>
                        <img src="http://placeimg.com/1000/350/tech">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vehicula orci in ultrices
                            elementum.
                            Aliquam eget mi tristique, suscipit tellus in, commodo justo. Sed condimentum dictum ligula
                            in
                            commodo. Nullam sed tortor mattis, volutpat diam ut, placerat erat. Nulla a mauris massa.
                            Vestibulum libero justo, pulvinar in dui quis, venenatis pretium ex. Nullam faucibus
                            sagittis dolor
                            aliquam pellentesque. Vivamus finibus posuere mauris, et elementum metus ornare vel.
                        </p>
                        <p>
                            Donec sit amet rhoncus risus. Quisque efficitur risus vitae condimentum laoreet. Donec
                            mattis,
                            dolor a congue convallis, risus risus consectetur nunc, in tincidunt purus arcu sit amet
                            libero.
                            Mauris iaculis ultrices massa. Morbi tincidunt mauris vel cursus malesuada. In et feugiat
                            lacus,
                            nec blandit ligula. Nunc at lorem et turpis finibus porta sed non massa. Etiam sed luctus
                            risus, a
                            tempor justo. Praesent gravida varius lobortis.
                        </p>

                        <ul>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                            <li>Morbi commodo orci sed sapien tristique rutrum.</li>
                            <li>Vestibulum lobortis quam id est blandit, non tincidunt justo egestas.</li>
                        </ul>

                        <a href="https://www.hyperxgaming.com/us">HyperX Gaming</a>
                    </div>
                    <div class="triCol">
                        <h1>Tri Column</h1>
                        <img src="http://placeimg.com/1000/350/tech">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vehicula orci in ultrices
                            elementum.
                            Aliquam eget mi tristique, suscipit tellus in, commodo justo. Sed condimentum dictum ligula
                            in
                            commodo. Nullam sed tortor mattis, volutpat diam ut, placerat erat. Nulla a mauris massa.
                            Vestibulum libero justo, pulvinar in dui quis, venenatis pretium ex. Nullam faucibus
                            sagittis dolor
                            aliquam pellentesque. Vivamus finibus posuere mauris, et elementum metus ornare vel.
                        </p>
                        <p>
                            Donec sit amet rhoncus risus. Quisque efficitur risus vitae condimentum laoreet. Donec
                            mattis,
                            dolor a congue convallis, risus risus consectetur nunc, in tincidunt purus arcu sit amet
                            libero.
                            Mauris iaculis ultrices massa. Morbi tincidunt mauris vel cursus malesuada. In et feugiat
                            lacus,
                            nec blandit ligula. Nunc at lorem et turpis finibus porta sed non massa. Etiam sed luctus
                            risus, a
                            tempor justo. Praesent gravida varius lobortis.
                        </p>

                        <ul>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                            <li>Morbi commodo orci sed sapien tristique rutrum.</li>
                            <li>Vestibulum lobortis quam id est blandit, non tincidunt justo egestas.</li>
                        </ul>

                        <a href="https://www.hyperxgaming.com/us">HyperX Gaming</a>
                    </div>
                    <div class="triCol">
                        <h1>Tri Column</h1>
                        <img src="http://placeimg.com/1000/350/tech">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vehicula orci in ultrices
                            elementum.
                            Aliquam eget mi tristique, suscipit tellus in, commodo justo. Sed condimentum dictum ligula
                            in
                            commodo. Nullam sed tortor mattis, volutpat diam ut, placerat erat. Nulla a mauris massa.
                            Vestibulum libero justo, pulvinar in dui quis, venenatis pretium ex. Nullam faucibus
                            sagittis dolor
                            aliquam pellentesque. Vivamus finibus posuere mauris, et elementum metus ornare vel.
                        </p>
                        <p>
                            Donec sit amet rhoncus risus. Quisque efficitur risus vitae condimentum laoreet. Donec
                            mattis,
                            dolor a congue convallis, risus risus consectetur nunc, in tincidunt purus arcu sit amet
                            libero.
                            Mauris iaculis ultrices massa. Morbi tincidunt mauris vel cursus malesuada. In et feugiat
                            lacus,
                            nec blandit ligula. Nunc at lorem et turpis finibus porta sed non massa. Etiam sed luctus
                            risus, a
                            tempor justo. Praesent gravida varius lobortis.
                        </p>

                        <ul>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                            <li>Morbi commodo orci sed sapien tristique rutrum.</li>
                            <li>Vestibulum lobortis quam id est blandit, non tincidunt justo egestas.</li>
                        </ul>

                        <a href="https://www.hyperxgaming.com/us">HyperX Gaming</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-tabView__content__block u-inner">
            <div class="c-tabView__container">

                <div class="card-container">

                    <div class="card-container__card">
                        <img src="http://placeimg.com/360/200/tech">

                        <div class="card__content">
                            <div class="card__author-info">
                                <h3>
                                    <svg>
                                        <use xlink:href="/images/svg/icons-map.svg#location" style="fill: #a1061f;"></use>
                                    </svg>
                                    Card Title</h3>
                                <span>by Author's Name</span>
                            </div>
                            <div class="card__description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vehicula orci in
                                ultrices
                                elementum.
                                Aliquam eget mi tristique, suscipit tellus in, commodo justo. Sed condimentum dictum
                                ligula
                                in
                                commodo.
                            </div>

                            <div class="card__cta-container">
                                <div class="btn btn-action">
                                    Action
                                </div>
                                <div class="btn btn-out">
                                    Outward
                                    <svg>
                                        <use xlink:href="/images/svg/icons-map.svg#target-window"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-container__card card-container__card--reverse">
                        <img src="http://placeimg.com/360/200/tech">

                        <div class="card__content">
                            <div class="card__author-info">
                                <h3>
                                    <svg>
                                        <use xlink:href="/images/svg/icons-map.svg#location" style="fill: #a1061f;"></use>
                                    </svg>
                                    Card Title</h3>
                                <span>by Author's Name</span>
                            </div>
                            <div class="card__description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vehicula orci in
                                ultrices
                                elementum.
                                Aliquam eget mi tristique, suscipit tellus in, commodo justo. Sed condimentum dictum
                                ligula
                                in
                                commodo.
                            </div>

                            <div class="card__cta-container">
                                <div class="btn btn-action">
                                    Action
                                </div>
                                <div class="btn btn-out">
                                    Outward
                                    <svg>
                                        <use xlink:href="/images/svg/icons-map.svg#target-window"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-container__card card-container__card--minimal">
                        <img src="http://placeimg.com/360/200/tech">

                        <div class="card__content">
                            <div class="card__author-info">

                                <h3>
                                    <svg>
                                        <use xlink:href="/images/svg/icons-map.svg#location" style="fill: #a1061f;"></use>
                                    </svg>
                                    Card Title</h3>
                                <span>by Author's Name</span>
                            </div>
                            <div class="card__description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vehicula orci in
                                ultrices
                                elementum.
                                Aliquam eget mi tristique, suscipit tellus in, commodo justo. Sed condimentum dictum
                                ligula
                                in
                                commodo.
                            </div>

                            <div class="card__cta-container">
                                <div class="btn btn-action">
                                    Action
                                </div>
                                <div class="btn btn-out">
                                    Outward
                                    <svg>
                                        <use xlink:href="/images/svg/icons-map.svg#target-window"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/base/tabs.component.js"></script>